# Hugo
public/
resources/
.hugo_build.lock

# OS
.DS_Store
Desktop.ini
*~

# IDE
.idea/
*.swp
*.swo

# Logs
*.log

# Node
node_modules/

# Media optimization backups
/content/**/*-original-image.png
/content/**/*-original-image.jpg
/content/**/*-original-image.jpeg
/content/**/*-original-image.webp
/content/**/*-original-video.mov
/content/**/*-original-video.mp4
/content/**/*-original-video.m4v
/content/**/*-original-video.webm
